body{
    background-color: ghostwhite;
}
.logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aquamarine;
    
}
.foto{
    color: black;
    font-size: 100px;
    text-align: center;
}
.texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    padding-left: 30px;
    text-justify: auto;
    height: 400px;
}
.linkzada{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}